{% extends 'base.html' %}
{%load crispy_forms_tags %} 
{% block content %}
<h1>Account form</h1>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form  action="{% url 'account_form' user.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        
            {{ account_form|crispy }}
        
            
            <input type="submit" class="btn btn-success btn-lg" value="Post">
          </form> 
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}