{% extends 'base.html' %}
{%load crispy_forms_tags %} 
{% block content %}
{{block.super}}
<h1>Bill form</h1>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form  action="{% url 'bill_form' user.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        
            {{ bill_form|crispy }}
        
            
            <input type="submit" class="btn btn-success btn-lg" value="Post">
          </form> 
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}