body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.login_form{
    margin-top: 20vh;
}
.profilepic{
    height: 10em;
    width: 10em;
    border-radius: 50%;
}
.account_overview{
    margin: 3vh 3vw;
    text-align: center;
    padding: 2vh 0;
    border: 1px solid #4F86C6;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #4F86C6;
}
.bill_overview{
    margin: 3vh 3vw;
    text-align: center;
    padding: 2vh 0;
    border: 1px solid #92374D;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #92374D;
}
.accountbtn{
    border-radius: 5px;
    border: 1px solid #4F86C6;
}
.billbtn{
    border-radius: 5px;
    border: 1px solid #92374D;
}
.accountbtn:hover{
    background-color: #4F86C6,
    
}
.contacts{
    text-align: center;
    margin-top: 5vh;
}
.socials a{
    font-size: 2em;
    margin: 1vh 2vw;
}
