body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.login_form{
    margin-top: 20vh;
}
.profilepic{
    height: 10em;
    width: 10em;
    border-radius: 50%;
}
.account_overview{
    margin: 2vh 3vw;
    text-align: center;
    padding: 2vh 0;
    border: 1px solid #4F86C6;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #4F86C6;
}
.bill_overview{
    margin: 4vh 3vw;
    text-align: center;
    padding: 2vh 0;
    border: 1px solid #92374D;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #92374D;
}
.accountbtn{
    border-radius: 5px;
    border: 1px solid #4F86C6;
    padding: 1vh 1vw;
}
.billbtn{
    border-radius: 5px;
    border: 1px solid #92374D;
    padding: 1vh 1vw;
}
.accountbtn:hover{
    background-color: #4F86C6,
    
}
.brand{
    color: #4F86C6;
}
.pretty_button{
    border-radius: 5px;
    border: 1px solid #4F86C6;
    padding: 1vh 1vw;
}
.pretty_button:hover{
    background-color: #4F86C6,
}

.contacts{
    text-align: center;
    margin-top: 5vh;
}
.socials a{
    font-size: 2em;
    margin: 1vh 2vw;
}
iframe{
    height: 15em;
    width: 30em;
}
.video{
    margin: 3vh 3vw;
}
.newscard{
    margin: 4vh 3vw;
    border: none;
}
.card img{
    object-fit: cover;
    height: 20vh;
    width: 100%;
}
